main{
  background-color: #00ff00;
  .container{
    display: flex;
    flex-wrap: wrap;
    .card{
      width:18%;
      margin: 30px auto;
      border:1px solid red;
      text-align: center;
      h1{
        font-size: 25px;
      }
      h2{
        font-size: 22px;
      }
      h2{
        font-size: 18px;
      }
    }
  }
}